:root {
    --blanco: #ffffff;
    --principal-color: #fb9a39;
    --nav: #c0392b;
    --nav-redes: #874000;
    --oscuro: #212121;
    --hover: #fa8072;
    --line: #d3d3d3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100%;
    text-decoration: none;
    list-style: none;
}

/*------------------- start css styles for header------------ */
.header {
    background-color: var(--principal-color);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.logo {
    width: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header-title {
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.container {
    background-color: var(--nav);
    margin: 0 auto;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
}

.header-nav_link {
    color: var(--blanco);
    font-size: 1rem;
    padding: 0.5rem;
}

.header-nav_link:nth-child(3):hover {
    font-size: 120%;
    background-color: var(--hover);
}

/*mediaqueris for header */
@media (min-width: 1024px) {
    .header {
        display: flex;

        align-items: flex-end;
    }

    .logo {
        margin: 2rem 0 2rem 3.5rem;
    }

    .header-title {
        margin: 2.5rem 1rem;
    }

    .container {
        margin: 2rem auto;
        padding: 0.2rem;
    }

    .header-nav_link {
        padding: 0.8rem;
        margin: 0 2rem;
    }
}

/*-----------------start css style for main sections----------*/
.main {
    background-color: var(--background);
    height: 70vh;
}

.main-Section_text {
    margin: 1.5rem 1rem;
}

.main-Section_textDiferent {
    margin: 0 1rem;
}

.main-Section_horizontalRule {
    border: 0.5px solid var(--oscuro);
    width: 90%;
    margin: 1rem 1rem;
}

.main-Section_div {
    display: flex;
    align-items: center;
}

.vl {
    border-left: 4px solid var(--line);
    height: 100px;
    margin-left: 2.5rem;
}

@media (min-width: 1024px) {

    .main-container {
        display: flex;
        flex-direction: column;
        position: relative;
        float: left;

    }

    .main-Section {
        margin: auto 4rem;

    }

    .main-Section_text {
        font-size: 18px;
        margin-right: 230px;
    }

    .main-Section_textDiferent {
        font-size: 18px;
        margin-right: 245px;
    }

    .main-Section_horizontalRule {
        margin: 1rem;
        width: 70%;
    }

    .main-line {
        position: absolute;
        width: 50px;
        height: 100%;
        background-color: var(--line);
    }

    .aside-principalContainer {
        float: right;
        width: 25%;
        background-color: green;
        margin-top: 10px;
    }

    .aside_container1 {

        margin: 2rem 1.1rem;
        width: 85%;
        height: 120px;
        background-color: var(--principal-color);
    }

    .aside_container2 {

        margin: 1rem 1.1rem;
        width: 85%;
        height: 120px;
        background-color: var(--principal-color);
    }







}

/*----------------finish css style for main sections----------*/

/*-----------------start css style for main sections----------*/
.footer {

    background-color: var(--principal-color);

}

.footer-nav_link {
    color: var(--blanco);
    font-size: 1rem;
    padding: 0.5rem;
}

.containerFooter {
    display: flex;
    margin: 2rem 0;
    width: 80%;
    height: 45px;
    font-size: 1rem;
    background-color: var(--nav);
    justify-content: space-around;
}