:root {
    --blanco: #ffffff;
    --principal-color: #fb9a39;
    --nav: #c0392b;
    --nav-redes: #874000;
    --oscuro: #212121;
    --hover: #fa8072;
    --line: #E6E6E6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    min-height: 100vh;
    width: 100vw;
    text-decoration: none;
    display: block;
}

/*-------- start css styles for header------- */
.header {
    width: 100%;
    background-color: var(--principal-color);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: stretch;

}

.header-container__logo {
    width: 50px;
    height: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header-container__title {
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 300;
}

.header-principal__nav {
    width: 100%;
}

.header-principalNav__ul {
    display: flex;
    justify-content: space-around;
    background-color: var(--nav);
}

.header-principalNav__item {
    padding: 10px;
}

.principal-nav__link {
    font-size: 1.125rem;
    color: var(--blanco);
}

li:nth-child(3):hover a {
    background-color: var(--hover);
    padding: 0.5rem;
}

/*mediaqueris for header desktop */
@media (min-width: 1024px) {
    .hr {
        width: 90%;
        margin: 0 0;
    }

    .header {
        display: flex;
    }

    .header-container__logo {
        margin: 2rem 0 2rem 3.5rem;
    }

    .header-container__title {
        margin: 2rem 1rem;
    }

    .header-principal__nav {
        margin: 2rem 4rem;
    }
}

/*-----start css style for main sections-----*/
.main-container {
    width: 100%;
    display: flex;
}

.container-section {
    padding: 1.1% 7% 2% 6%;
    text-align: left;
    display: block;
    flex-direction: column;
}

.container-section__title {
    font-size: 16px;
    margin-top: 2%;
    line-height: 1rem;

}

.container-section__text {
    font-size: 14px;
    margin: 2% 0 0 0;

}

.container-section__text__midle {
    width: 95%;
    font-size: 14px;

    padding-left: 7%;
    border-left: 4px solid var(--line);
    margin: 2% 0 0 0;
}

.aside {
    display: none;
}

/*-----mediaqueris sections tablet-----*/
@media(min-width: 768px) {

    .container-section {
        width: 70vw;
        padding: 2% 5% 2% 3%;
    }

    .main {
        display: flex;
        height: 70vh;
        width: 65vw;

    }


    .container {
        margin: 0 1%;
        display: block;
    }

    .container-section__title {
        font-size: 16px;
    }

    .container-section__text {
        font-size: 14px;
    }

    .container-section__text__midle {
        width: 90%;
        font-size: 14px;
        padding-left: 3%;
        border-left: 4px solid var(--line);
    }

    .aside {
        display: flex;
        flex-direction: column;
        min-width: 30%;
        height: 60vh;
        background-color: green;
        justify-content: center;
        align-items: center;
        justify-content: flex-start;
        margin-left: 0;
    }

    .aside_container {
        min-width: 70%;
        min-height: 20%;
        margin: 10% 2% 0 2%;
        background-color: var(--principal-color);
    }
}

/*-----mediaqueris sections desktop-----*/
@media(min-width: 1024px) {
    .main {
        border-left: 64px var(--line);
        height: 78.2vh;

    }

    .container {
        margin: 0 0;
        border-left: 64px solid var(--line);
    }

    .container-section__title {
        font-size: 20px;
    }

    .container-section__text {
        width: 58vw;
        font-size: 18px;
    }

    .container-section__text__midle {
        width: 56vw;
        font-size: 18px;
    }

    .aside {
        margin-right: 2%;
        height: 78.2vh;
    }
}





/*-----start css style for footer------*/
.footer {
    margin: 0 0;
    background-color: var(--principal-color);
    padding: 1rem;

}

.footer-secondNav_ul {
    display: flex;
    background-color: var(--nav);
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 45px;
}

.footer-secondNav_link {
    color: var(--blanco);
    height: 30px;
    font-size: 1.125rem;
    margin: 1rem 0;
}

.footer-secondNav_link:hover {
    background-color: var(--hover);
    padding: 0.5rem;
}

.footer-thirdNav_ul {
    display: flex;
    background-color: var(--nav-redes);
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 45px;
}

.footer-thirdNav_item {
    display: flex;
}

.footer-thirdNav_link {
    color: var(--blanco);
    height: 30px;
    font-size: 1.125rem;
    margin: 1rem 0;
}

/*-----mediaqueris footer desktop-----*/

@media(min-width: 1024px) {
    .footer {
        display: flex;
        justify-content: space-around;
    }

    .footer-secondNav_ul {
        width: 100%;
    }

    .footer-secondNav_link {
        margin: 1rem 1rem;
    }

    .footer-thirdNav_ul {
        margin: 0 1rem;
        width: 75%;
    }

    .footer-thirdNav_link {
        margin: 1rem 1rem;
    }
}