:root {
    --blanco: #ffffff;
    --principal-color: #fb9a39;
    --nav: #c0392b;
    --nav-redes: #874000;
    --oscuro: #212121;
    --hover: #fa8072;
    --line: #d3d3d3;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100%;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

/*------------------- start css styles for header------------ */
.header {
    background-color: var(--principal-color);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.logo {
    width: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header-title {
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}



.principal-nav {
    margin: 0 auto;
    width: 100%;
    height: 45%;
}

.principal-nav_ul {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--nav);
}

.principal-nav_item {
    margin: 1rem 1rem;
}

.principal-nav_link {
    font-size: 1.125rem;
    color: var(--blanco);
}

/*mediaqueris for header */
@media (min-width: 1024px) {
    .header {
        display: flex;

        align-items: flex-end;
    }

    .logo {
        margin: 2rem 0 2rem 3.5rem;
    }

    .header-title {
        margin: 2.5rem 1rem;
    }

    .principal-nav {
        margin: 2rem 4rem;
    }


}

/*-----------------start css style for main sections----------*/
.sections {
    display: block;
}

.section {
    margin: 1rem 1rem;
}

.section__title {
    margin: 0.5rem 0;
    font-size: 18px;
}

.section__text {
    font-size: 16px;
}

.section__text__midle {
    width: 90%;
    font-size: 16px;
    padding-left: 21px;
    border-left: 4px solid var(--line);
    position: relative;
    left: 31px;
}



/*----------------finish css style for main sections----------*/

/*-----------------start css style for main sections----------*/
.footer {
    margin: 0 0;
    background-color: var(--principal-color);
    padding: 2%;
}


.second-nav_ul {
    display: flex;
    background-color: var(--nav);
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 45px;
}

.second-nav_item {
    display: flex;
}

.second-nav_link {
    color: var(--blanco);
    height: 30px;
    font-size: 1.125rem;
    margin: 1rem 0;
}




.third-nav_ul {
    display: flex;
    background-color: var(--nav-redes);
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 45px;
}

.third-nav_item {
    display: flex;
}

.third-nav_link {
    color: var(--blanco);
    height: 30px;
    font-size: 1.125rem;
    margin: 1rem 0;

}